@page "/"
@inject ResultService resultService

<PageTitle>Text Comparer</PageTitle>
<div class="container-lg flex-wrap flex-sm-col flex-wrap" >
    <div class="p-4 m-3 pt-5 pb-5 justify-content-center align-content-center">
        <h1 class="text-center">Text Comparer</h1>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col col-12 border border-1 border-dark">
            <div class="row pt-3 mt-3 align-items-stretch justify-content-center flex-lg-row flex-column">
                <div class="col-auto col-lg-6">
                    <div class="p-2 form-floating">
                        <textarea class="form-control" style="height:500px;max-height:500px;min-height:150px;" id="floatingTextarea1"></textarea>
                        <label for="floatingTextarea1">Paste the first text here.</label>
                    </div>
                </div>
                <div class="col-auto col-lg-6">
                    <div class="p-2 form-floating">
                        <textarea class="form-control" style="height:500px;max-height:500px;min-height:150px;" id="floatingTextarea2"></textarea>
                        <label for="floatingTextarea2">Paste the second text here.</label>
                    </div>
                </div>
            </div>
            <div class="row gy-3 gap-3 p-3 m-2 mb-1 align-items-center justify-content-center">
                <div class="col-auto col-lg-2 text-end d-grid gap-1">
                    <button class="btn btn-dark btn-lg">Reset</button>
                </div>
                <div class="col-auto col-lg-2 text-start d-grid gap-1">
                    <button class="btn btn-compare btn-lg">Compare</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}